<h1>Listing attendances</h1>

<table>
  <tr>
    <th>User</th>
    <th>Login</th>
    <th>Logout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.user_id %></td>
    <td><%= attendance.login %></td>
    <td><%= attendance.logout %></td>
    <td><%= link_to 'Show', attendance %></td>
    <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
    <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
